{{ partial "header" . }}

<section id="tldr" class="row well">
  <div class="col-md-offset-2 col-md-8 col-sm-12">
    <h2 class="text-center">What does Daata solve?</h2>
    <hr>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h4>Solves Dev Pain Points</h4>
        <p>Proxy/Replay HTTP requests for modifying from your service-to-service calls on Development or Staging environments</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h4>Solves "Where Do I Host?" Problems</h4>
        <p>Transfer data securely from any number of machines to Daata server to analyse/modify/sort data</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h4>Automagically Generate Graphs</h4>
        <p>Generate Graphs from data that is uploaded periodically to find trends.</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h4>Drag/Drop Metrics Into Dashboards</h4>
        <h5>(1080p ready)</h5>
        <p>Drag/Drop graphs into dashboards and just type in a URL into your TVs to host get live data</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h4>Secure! For Your Eyes only!</h4>
        <p>Host it on your own infrastructure and intranet or the internet with https and secure credentials</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h4>Open Source</h4>
        <p>Made in Go. All the code is open source and open for development</p>
      </div>
    </div>
  </div>
</section>

<section id="solved" class="row">
  <a name="solved"></a>
  <div class="col-md-offset-2 col-md-8 col-sm-12">
  <h3 class="text-left">Pain Points Solved</h3>
  <ul>
  <li><u><a href="/how-to/versioned-documentation">Versioned Documentation</a></u> by Project for teams inside/across companies. <a href="/use-cases/better-documentation">(Google Docs just wont cut it)</a></li>
  <li>Inspire your team by displaying <u><a href="/how-to/data-points">Code Coverage</a></u> on your Status Screen</li>
  <li><a href="/how-to/static-files">Reviewing designs/HTML files</a> prototypes made. <a href="/use-cases/static-webpage">When you need to showcase to your co-worker</a></li>
  <li><a href="/how-to/fetch-from-database">Fetching information from database</a> and <a href="/use-cases/orders-total-today">portray your daily revenue realtime</a></li>
  <li>Make Dashboards from Code Coverage or Order Totals generated earlier <a href="/use-cases/quick-dashboards">to make insightful graphs</a></li>
  <li><a href="/how-to/url-shortner">URL Shortners to easily share/shout/remember URLs</a> for <a href="/use-cases/short-urls">sending reports</a></li>
  <li><a href="/how-to/send-data">The Pastebin you always wanted</a></li>
  <li><a href="/how-to/append-data">Fetch data from 10+ servers</a> and <a href="/use-cases/multi-host-processing">process into information</a></li>
  <li><a href="/how-to/send-json-on-rest">Visualize a non-production API call/webhook(Example: Email/SMS) on the browser</a> instead of <a href="/use-cases/mock-services-for-staging">paying for the price to production APIs</a></li>
  <li>This is <u>One Miscellaneous server</u> your <a href="/how-to/server-management">DevOps would love to manage</a>.</li>
  </ul>

  <br/>
  <h3 class="text-left">Daata is made by developers and we know the pain points. Hence, we have</h3>
  <ul>
    <li>ZERO dependencies for installation. Just add salt to your binary and let the magic run</li>
    <li>code works on any platform</li>
    <li>Simple backup and restores</li>
    <li>Host inside your cloud/VPN/intranet/laptop</li>
  </ul>

</div>
</section>

<section id="tosolve" class="row">
<a name="tosolve"></a>
<div class="col-md-offset-2 col-md-8 col-sm-12">
  <h2 class="text-center">Solutions In Progress</h2>
  <hr />
  <h3>We have a plan to work on the following. <a target="_blank" href="{{ .Site.Params.gitRepoLink }}/issues/new">Let us know if you want us to solve your usecase</a></h3>
<ul>
  <li><a href="/use-cases/debugging-http-requests">Debugging HTTP/REST calls across services on staging/development</a></li>
  <li><a href="/use-cases/proxying-http-requests">Proxying / Debugging requests</a></li>
  <li><a href="/use-cases/replaying-http-requests">Proxy/Replay HTTP/REST requests during development</a></li>
  <li><a href="/setup/digital-ocean">Simple setup on Digital Ocean</a>, <a href="/setup/aws">AWS</a>, <a href="/setup/google-cloud">Google Cloud</a> </li>
</ul>

</div>
</section>

<section id="who" class="row">
  <div class="col-md-offset-2 col-md-8 col-sm-12">
  <h2 class="text-center">Who is this aimed for?</h2>
  <hr />
  The tool is aimed for small development teams who want to host any miscellaneous data.<br/><br/>
  The tool can be self hosted on any server in your intranet or the internet. It has been <a href="{{ .Site.Params.demoURL }}">Tested on Linux</a>, Mac OS X. <br /><br/>
  The use case of this service is to help solve problems and pain points for hundreds of thousands of developers, not necessiarly to scale(<a href="https://sair.am/portfolio/" target="_blank">although we usually work on large scale problems</a>).
  <br/><br/>
  See <a href="/use-cases/">All Use Cases</a> that <a href="#solved">we are solving</a> and <a href="#tosolve">what's next</a>.
  <br/>
</section>

<section class="row well center" id="origin">
  <div class="col-md-8 col-sm-12" style="background-color: white">
  <h2 class="text-center">Origins/Status of Daata</h2>
  <hr />

  <h3>One Liner Purpose</h3>
  <p>I wanted to solve Developer Pain Points which I have been encountering.</p>
  <hr />

  <h3>Why the name Daata?</h3>
  <p><u>Naming</u> is one of the biggest pain point for a developer. The name 'Daata' was kinda cooked up since we want to deal with business/teams useful Data</p>
  <hr />

  <h3>Any PainPoints using Daata?</h3>
  <p>Typing it on Mobile usually autocorrects <u>Daata</u> to <u>Data</u> (irony!)</p>
  <hr />

  <h3>Is this production ready?</h3>
  <p>I'd say Alpha. That means "use it at your own risk, the advertised functionalities work as intended, but may fail on unintentional usecases"</p>
  <hr />

  <h3>Do you intent to solve/fix Javascript as a pain point?</h3>
  <p>No :) But do checkout Elm</p>
  <hr />

</div>
</section>

<section id="demo" class="row">
<div class="col-md-offset-2 col-md-8 col-sm-12">
<a name="demo"></a>
<h2 class="text-center">Demo <a class="alternate" href="#tryme">[or Try It Out]</a></h2>
<p class="text-center">No! not a video, its an asciinema. Takes about 20KB to view this demo</p>

<!-- script type="text/javascript" src="https://asciinema.org/a/14.js" id="asciicast-14" async data-autoplay="true" data-size="small"></script-->
<!-- <div style="min-height:400px" width="800"> </div> -->

<a name="tryme"></a>
<h2 class="text-center">Hands On! Type this your your command line <a class="alternate" href="#demo">[or Watch The Demo]</a></h2>
<pre>
  echo "Current Date Time is `date`" | curl -X POST {{ .Site.Params.demoURL }}/192_168_0_1/hello/
</pre>

Now open <a target="_blank" href="{{ .Site.Params.demoURL }}/192_168_0_1/hello/">{{ .Site.Params.demoURL }}/192_168_0_1/hello/</a>

<br /><br />
<div class="text-center row">

<a class="btn btn-lg btn-primary" href="/demo"  role="button">Checkout All Demos</a>
<a class="btn btn-lg btn-default" href="/demo"  role="button">Try All Demos Hands On</a>
</div>
<!-- <a href="/demo"><h2 class="text-center">Checkout all our Demos by Use Case</h2></a> -->
<hr/>

</div>
</section>

{{ partial "menu" . }}

{{ partial "footer" . }}
