data
<pre>
curl -i -X POST {{.URL}}/upload -H "Content-Type: application/zip" --data-binary "@data.zip"
curl -i -X POST {{.URL}}/upload -H "Content-Type: application/json" --data-binary "@freshmenu.json"

Examples:
{{.URL}}/d/wwpbbi
{{.URL}}/d/iwhspu

</pre>
