<!DOCTYPE html>
<html lang="en">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">
<link href="/style.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Daata | Solving Developer Pain Points one at a time</title>


<body class="container-fluid">
<section id="heading" class="row">
  <a name="vision"></a>
  <div class="col-md-offset-2 col-md-8 col-sm-12">
  <h1 class="text-center"><sub class="alternate">the</sub> <u>Daata</u> <sup class="alternate">project</sup></h1>
  <article class="text-center">Our <u>Vision</u> is to <u>Solve</u> Developer pain points as well as to <u>Empower</u> small teams with business solutions</article>
  <hr/>
</section>
